.body {
  min-width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
}

.page {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

.page__section {
  max-width: calc(100% - 100px);
  min-height: 109px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 0;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__logo-link {
  display: block;
  justify-self: center;
  width: 138px;
  height: 105px;
}

.menu_type_footer {
  justify-self: center;
}

.menu__list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.menu__list-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  list-style: none;
}

.menu__list li:first-child {
  list-style: none;
}

.menu__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  cursor: pointer;
}

.menu__link:hover {
  opacity: .6;
}

.menu__link_active {
  text-decoration: none;
}

.adress-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
}

.adress-container__link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  min-height: 757px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  background: url(../images/cover.jpg) no-repeat center;
  background-size: cover;
}

.cover::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: calc(100% - 100px);
  margin: 179px auto 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
}

.text-center {
  justify-self: center;
}

.text-right {
  justify-self: end;
}

.cover__text {
  display: block;
}

.extra-spacing {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: 0px;
}

.cover__footer {
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  max-width: calc(100% - 50px);
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 22px;
}

.cover__footer-text {
  line-height: 28px;
  word-spacing: 18px;
}

.cover__bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  background: no-repeat;
}

.lots {
  max-width: calc(100% - 100px);
  margin: 0 auto;
  padding-top: 180px;
}

.lots__title {
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  color: #fff;
  list-style: none;
}

.lots__link {
  text-decoration: none;
  cursor: pointer;
}

.lots__more-link {
  display: block;
  margin: 32px 0 0 40px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  cursor: pointer;
}

.lot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 450px;
  padding: 50px 40px;
  line-height: 1.2;
}

.lot::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

.lot__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

.lot__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.lot__description {
  font-weight: 400;
  font-size: 20px;
}

.lot__title,
.lot__description {
  z-index: 1;
}

.about {
  max-width: calc(100% - 100px);
  margin: 0 auto;
  padding-top: 180px;
}

.about__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about__logo-link {
  display: flex;
  justify-self: center;
  align-self: start;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 46px;
  background: #000;
}

.about__text {
  grid-column-start: 2;
  grid-column-end: 4;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: calc(100% - 98px);
  margin: 0 auto;
  padding: 185px 0 139px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.social-list__icon {
  width: 48px;
}